
       body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* width: 100%; */
    min-width: 608px;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #4280eb);
}

.header {
    width: 100%;
    background-color: rgba(56, 98, 236, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



.nav {
    display: flex;
    gap: 10px;
    margin-right: 23px;
}

.neon-button {
    position: relative;
    padding: 15px 30px;
    font-size: 12px;
    color: black;
    font-weight: 600;
    background: #1CF;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    
}

.neon-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px solid transparent;
    border-top: 6px solid rgba(150, 248, 248, 0.226);
    border-right: 6px solid rgba(150, 248, 248, 0.226);
    border-radius: 5px;
    box-sizing: border-box;
    animation: neon 5s linear infinite;
}

@keyframes neon {
    0% {
        border-top-color: #cef2f8;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    25% {
        border-top-color: transparent;
        border-right-color:#cef2f8;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color:#cef2f8;
        border-left-color: transparent;
    }
    75% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #cef2f8;
    }
    100% {
        border-top-color: #cef2f8;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.login-container {
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInZoom 1s ease-in-out;
    margin-top: 50px;
}

.login-container::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
    box-shadow: 0 0 20px #00e6e6, 0 0 40px #00e6e6, 0 0 60px #00e6e6, 0 0 80px #00e6e6;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}

.login-container h2 {
    margin-bottom: 20px;
    color: white;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.input-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6a11cb;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2575fc;
}
.button-active{
        background-color: #2575fc;
        display:-moz-inline-grid;

}

#errorMessage {
    color: red;
    margin-top: 10px;
}

.neon {
            font-size: 3rem;
            font-weight: bold;
            color: #fff;
            /* border: 0.1em solid #0ff; */
            padding: 3px;
            margin-left:34px;
            text-align: center;
            position: relative;
            text-shadow: 
                0 0 5px #0ff,
                0 0 10px #0ff,
                0 0 20px #0ff,
                0 0 40px #0ff,
                0 0 80px #0ff;
        }

        .neon span {
            opacity: 0;
            animation: blink 4s infinite;
        }

        .neon span:nth-child(1) { animation-delay: 0s; }
        .neon span:nth-child(2) { animation-delay: 0s; }
        .neon span:nth-child(3) { animation-delay: 0s; }
        .neon span:nth-child(4) { animation-delay: 0s; }
        .neon span:nth-child(5) { animation-delay: 4s; }
        .neon span:nth-child(6) { animation-delay: 5s; }
        .neon span:nth-child(7) { animation-delay: 5s; }
        .neon span:nth-child(8) { animation-delay: 5s; }
        .neon span:nth-child(9) { animation-delay: 5s; }
        .neon span:nth-child(10) { animation-delay: 5s; }

        @keyframes blink {
            0%, 100% { opacity: 0; }
            50% { opacity: 1; }
        }
/* Animation */
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes neonGlow {
    0% {
        box-shadow: 0 0 20px #00e6e6, 0 0 40px #00e6e6, 0 0 60px #00e6e6, 0 0 80px #00e6e6;
    }
    100% {
        box-shadow: 0 0 30px #00b3b3, 0 0 60px #00b3b3, 0 0 90px #00b3b3, 0 0 120px #00b3b3;
    }
}

@keyframes neonClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, transparent, #0ff, transparent);
}

#footer{
    margin-top: 50px;
}
.invalid-feedback{
    margin-top: 5px;
    font-size: 11px;
    color: white;
}



.marquee-container {
    width: 300px;
    height: 370px;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(0, 255, 234);
    box-shadow: 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff;
    animation: neon 1.5s ease-in-out infinite alternate;
    margin: 45px 30px 0px 30px;
}
@keyframes neon {
    from {
        box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
    }
    to {
        box-shadow: 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 50px #0ff;
    }
}
.marquee {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: marqueeUp 10s linear infinite;
}
@keyframes marqueeUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
.marquee span {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #0ff;
    white-space: nowrap;
    text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 15px #00f, 0 0 20px #00f, 0 0 25px #00f, 0 0 30px #00f, 0 0 35px #00f;
}

.main-container{
    display:flex;
    box-sizing: border-box;
}
.marquee-title{
    text-align: center;
    color: white;
    font-size: large;
    font-weight: 700;
    font-family: ui-monospace;
}